.shop{
	width:100%;
	// padding-bottom:1rem;
	ul{
		width:100%;
		background:#fff;
		@include flexbox();
		@include flex-wrap(wrap);
		@include justify-content(space-around);
		li{
			width:48%;
			border:1px solid #e2e1e6;
			margin-top:0.06rem;
			a{
				font-size:0.12rem;
				// text-align:center;
				color:#333;
				img{
					width:100%;
					margin-bottom:0.05rem;
				}
				p{
					padding-left:0.05rem;
				}
				.shop_text{
					padding-left:0.05rem;
					padding-bottom:0.05rem;
					span{
						color:#f2b80a;
					}
				}
				
			}
			

			
		}	
	}
}